
<label for="listname">
	<f:translate key="tx_pitsmailchimp_domain_model_mailsetting.listname" />
</label><br />
	<f:form.textfield property="listname" /><br />
<label for="apikey">
	<f:translate key="tx_pitsmailchimp_domain_model_mailsetting.apikey" />
</label><br />
	<f:form.textfield property="apikey" /><br />
<label for="listid">
	<f:translate key="tx_pitsmailchimp_domain_model_mailsetting.listid" />
</label><br />
	<f:form.textfield property="listid" /><br />
<label for="userpid">
	<f:translate key="tx_pitsmailchimp_domain_model_mailsetting.userpid" />
</label><br />
	<f:form.textfield property="userpid" /><br />
<label for="syncdetails">
	<f:translate key="tx_pitsmailchimp_domain_model_mailsetting.syncdetails" />
</label><br />
	<f:form.textarea property="syncdetails" cols="40" rows="15" /><br />