
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Chimpusers</h1>

<f:flashMessages renderMode="div" />

<table  class="tx_pitsmailchimp" >
	<tr>
		<th><f:translate key="tx_pitsmailchimp_domain_model_chimpusers.firstname" /></th>
		<th><f:translate key="tx_pitsmailchimp_domain_model_chimpusers.lastname" /></th>
		<th><f:translate key="tx_pitsmailchimp_domain_model_chimpusers.email" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{chimpuserss}" as="chimpusers">
		<tr>
			<td><f:link.action action="show" arguments="{chimpusers : chimpusers}"> {chimpusers.firstname}</f:link.action></td>
			<td><f:link.action action="show" arguments="{chimpusers : chimpusers}"> {chimpusers.lastname}</f:link.action></td>
			<td><f:link.action action="show" arguments="{chimpusers : chimpusers}"> {chimpusers.email}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{chimpusers : chimpusers}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{chimpusers : chimpusers}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Chimpusers</f:link.action>
</f:section>