
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Settings</h1>

<f:flashMessages renderMode="div" />

<table  class="tx_pitsmailchimp" >
	<tr>
		<th><f:translate key="tx_pitsmailchimp_domain_model_settings.property" /></th>
		<th><f:translate key="tx_pitsmailchimp_domain_model_settings.value" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{settingss}" as="settings">
		<tr>
			<td><f:link.action action="show" arguments="{settings : settings}"> {settings.property}</f:link.action></td>
			<td><f:link.action action="show" arguments="{settings : settings}"> {settings.value}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{settings : settings}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{settings : settings}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Settings</f:link.action>
</f:section>