
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Mailsetting</h1>

<f:flashMessages />

<table  class="tx_pitsmailchimp" >
	<tr>
		<th><f:translate key="tx_pitsmailchimp_domain_model_mailsetting.listname" /></th>
		<th><f:translate key="tx_pitsmailchimp_domain_model_mailsetting.apikey" /></th>
		<th><f:translate key="tx_pitsmailchimp_domain_model_mailsetting.listid" /></th>
		<th><f:translate key="tx_pitsmailchimp_domain_model_mailsetting.userpid" /></th>
		<th><f:translate key="tx_pitsmailchimp_domain_model_mailsetting.syncdetails" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{mailsettings}" as="mailsetting">
		<tr>
			<td><f:link.action action="show" arguments="{mailsetting : mailsetting}"> {mailsetting.listname}</f:link.action></td>
			<td><f:link.action action="show" arguments="{mailsetting : mailsetting}"> {mailsetting.apikey}</f:link.action></td>
			<td><f:link.action action="show" arguments="{mailsetting : mailsetting}"> {mailsetting.listid}</f:link.action></td>
			<td><f:link.action action="show" arguments="{mailsetting : mailsetting}"> {mailsetting.userpid}</f:link.action></td>
			<td><f:link.action action="show" arguments="{mailsetting : mailsetting}"> {mailsetting.syncdetails}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{mailsetting : mailsetting}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{mailsetting : mailsetting}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Mailsetting</f:link.action>
</f:section>