
<label for="firstname">
	<f:translate key="tx_pitsmailchimp_domain_model_chimpusers.firstname" />
</label><br />
	<f:form.textfield property="firstname" /><br />
<label for="lastname">
	<f:translate key="tx_pitsmailchimp_domain_model_chimpusers.lastname" />
</label><br />
	<f:form.textfield property="lastname" /><br />
<label for="email">
	<f:translate key="tx_pitsmailchimp_domain_model_chimpusers.email" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="email" /><br />