
<table class="tx-pits-mailchimp" >
	<tr>
		<td>
			<f:translate key="tx_pitsmailchimp_domain_model_mailsetting.listname" />
		</td>
		<td>
		{mailsetting.listname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pitsmailchimp_domain_model_mailsetting.apikey" />
		</td>
		<td>
		{mailsetting.apikey}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pitsmailchimp_domain_model_mailsetting.listid" />
		</td>
		<td>
		{mailsetting.listid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pitsmailchimp_domain_model_mailsetting.userpid" />
		</td>
		<td>
		{mailsetting.userpid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pitsmailchimp_domain_model_mailsetting.syncdetails" />
		</td>
		<td>
		{mailsetting.syncdetails}
		</td>
	</tr>
</table>